#root {
  text-align: center;
  margin-top: 0;
}

li {
  list-style: none;
}

.hero {
  background-image: url('./assets/imgs/batman_main.jpg');
  background-size: cover;
  /* background-position: center; */
  height: 100dvh;
}

.skills {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  color: white;
  font-size: 14px;
}

.container {
  width: 100% !important;
  max-width: 1449px !important;
}

/* @media (min-width: 900px) and (max-width: 1463px) {
  .container {
    width: 100% !important;
    max-width: 1400px !important;
  }
} */
