#root {
  text-align: center;
  margin-top: 0;
}

li {
  list-style: none;
}

.hero {
  background-image: url('./assets/imgs/batman_main.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
